@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #191919;
    color: #f3f8ff;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Myeongjo', serif;
}

.container {
    min-width: 150px;
}

.checkbox {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.checkbox .label {
    padding: 10px 20px;
    border: 1px solid #ffffff00;
    border-radius: 5px;
    transition: border 0.4s;
}

.checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    appearance: none;
    cursor: pointer;
}

.checkbox .label label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}